*{
	background:#5e4ec9;
}
h1{
	color: #black;
}
h3{
	color: #black;
}
h2{
	color: #black;
}
#wins{
	color: #black
}
#losses{
	color: #black;
}
#guessLeft{
	color: #black;
}
#let{
	color: #black;
}
.container{
	color: #black;
}